<form action="<%= action %>" method="POST">
  <%- include('./gameInput') %>
  <%- include('./genreList') %>
  <%- include('./developerList') %>
  <button type="submit"><%= buttonText %></button>
</form>