<%- include('../../partials/header') %>
<main>
    <h1>Edit <%= categoryName %></h1>
    <%- include("../../partials/errors.ejs") %>
    <%- include("../../partials/categories/categoryForm") %>
</main>
<%- include('../../partials/footer') %>