<%- include('../../partials/header') %>
<main>
    <h1>All <%= categoryObj.table_name %></h1>
    <a href="/categories/<%= categoryObj.table_name %>/add">Add an item</a>
    <% if(locals.data) { %>
      <% let columnName =  categoryObj.col_name + '_name' %>
      <% let columnId = categoryObj.col_name + '_id' %>
      <div>
        <% data.forEach((item) => { %>
        <% console.log(columnName) %>
        <div class="card flex-SpaceBetween">
            <a href="/games?category=<%= categoryObj.table_name %>&searchString=<%= item[columnName] %>">
                <%= item[columnName] %>
            </a>
            <div>
              <a href="/categories/<%= categoryObj.table_name %>/<%= item[columnId] %>/edit">
                <button>Edit</button>
              </a>
              <form action="/categories/<%= categoryObj.table_name %>/<%= item[columnId] %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
              </form>
            </div>
        </div>
        <% }) %>  
      </div>
    <% } %>
</main>
<%- include('../../partials/footer') %>