<%- include('../../partials/header') %>
<main>
    <h1>Editing item <%= itemId %> of <%= categoryName %></h1>
    <%- include("../../partials/errors.ejs") %>
    <%- include('../../partials/categories/categoryNameForm') %>
</main>
<%- include('../../partials/footer') %>