<%- include('../../partials/header') %>
<main>
    <h1>Add item to <%= categoryName %></h1>
    <%- include("../../partials/errors.ejs") %>
    <%- include('../../partials/categories/categoryNameForm') %>
</main>
<%- include('../../partials/footer') %>