<%- include('../partials/header') %>
<main>
    <h1>Add item to <%= id %></h1>
    <%- include("../partials/errors.ejs") %>
    <form action="/categories/<%= id %>/add" method="post">
        <label for="item_name">Item Name:</label>
        <input type="text" name="item_name" id="item_name">

        <button type="submit">Submit</button>
    </form>
</main>
<%- include('../partials/footer') %>