<%- include('../partials/header') %>
  <main>
    <h1><%= game.game.game_name %></h1>
    <p>Game ID: <%= game.game.game_id %></p>

    <% if(locals.game.genres) { %>
    <div class="list-genres">
      
        <p>Genres:</p>
        <% game.genres.forEach(genre => { %>
          <div>
            <a href="/games?genres=<%=genre.genre_name.toLowerCase() %>"><%= genre.genre_name %></a>
          </div>
        <% }); %>
    </div>
    <% } %>

    <% if(locals.game.developer) { %>
    <div class="container-developer">
      <p>Developer: <a href="/games?developers=<%=game.developer.developer_name%>"><%=game.developer.developer_name%></a></p>
    </div>
    <% } %>

    <a href="/games/<%= game.game.game_id %>/edit">
      <button>Edit</button>
    </a>
    <form action="/games/<%= game.game.game_id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
    </form>
  </main>
<%- include('../partials/footer') %>