<%- include('../partials/header') %>
  <main>
    <h1><%= myGame.game_name %></h1>
    <p>Game ID: <%= myGame.game_id %></p>

    <% if(locals.myGame.categories) { %>
      <% for(const category of myGame.categories) { %>
        <h3><%= capitalize(category.table_name) %></h3>
        <a href="/categories/<%= category.table_name %>/add">Add <%= category.col_name %></a>
        <% if(category.data.length !== 0) { %> 
          <% for(const data of category.data) { %> 
            <div class="card">
              <p><%= data[`${category.col_name}_name`] %></p>
            </div>
          <% } %>
        <% } else { %>
          <div class="card">
            <p>None</p>
          </div>
        <% } %>
      <% } %>
    <% } %>

    <a href="/games/<%= myGame.game_id %>/edit">
      <button>Edit</button>
    </a>
    <form action="/games/<%= myGame.game_id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
    </form>
  </main>
<%- include('../partials/footer') %>