<%- include('../partials/header') %>
  <h1>
    <% if(query.length !== 0) { %>
      Showing games that has <%= query[0].searchString %> in <%= query[0].category %>
    <% } else { %>
      Showing all games
    <% } %>
  </h1>
  <main>
    <div>
      <form action="/games" method="get" class="searchbar">
        <select name="category" id="category">
          <option value="games">By game name</option>
          <% if(locals.categories) { %>
            <% categories.forEach((category) => { %>
              <option value="<%= category.table_name %>">By <%= category.col_name %></option>
            <% }) %> 
          <% } %>
        </select>
        <input type="text" name="searchString" id="searchString">
        <button>Search</button>
      </form>
    </div>
  
    <div class="container">
      <% if(locals.games) { %>
        <% games.forEach(game => { %>
          <div class="card">
              <div>
                <a href="/games/<%=game.game_id %>"><%= game.game_name %></a>
              </div>


                <div class="row">
                  <% game.categories.forEach(category => { %>
                      <% if(category.data.length !== 0) { %>
                  
                          <div>
                            <%= category.table_name.toUpperCase() %>
                            <% category.data.forEach(data => { %>
                              <div class="card-small">
                                <%= data[category.col_name + '_name'] %>
                              </div>
                            <% }) %>
                          </div>
                      <% } %>
                  
                  <% }) %>
                </div>

                <div class="row">
                  <a href="/games/<%= game.game_id %>/edit">
                    <button>Edit</button>
                  </a>
                  <form action="/games/<%= game.game_id %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                  </form>
                </div>

          </div>
        <% }); %>
      <% } %>
    </div>
  </main>
<%- include('../partials/footer') %>