<%- include('../partials/header') %>
  <h1>Game Management App</h1>
  <main>
    <div>
        <a href="/games">
          All Games
        </a>
        <a href="/categories">
          Show Categories
        </a>
    </div>
    <div>
      <button onclick="handleClick()">Test</button>
    </div>
  </main>
  <script>
    function handleClick(){
      let data = prompt("Enter secret:");
      console.log(data === "<%= SECRET %>");
      console.log("<%= SECRET %>");
      '<%= %>'
        
      console.log("<%= url %>");
    }
    
  </script>
<%- include('../partials/footer') %>